

/* Navbar */

#logo{
  width: 3.5%;
  height: 3.5%;
}

#navbar {
  background: rgba(149, 255, 172, 0.932) !important;
  position: sticky;
}

.nav-link{
  color: black !important;
  border-right: black double ;
}

nav a{
  padding: 0 32px;
  transition: 0.4s;
  font-size: 20px;
}

nav li{
  width: 10em;
  text-align: center;
}

nav a:hover{
  background: rgba(253, 255, 255, 0.932);
  color: black;
}

/* carrusel */

#carrusel{
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
}

#carrusel-3 h1{
  color: black !important;
  }

/* lista medicos */

#dropdown-especialidad,
#dropdown-prevision{
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 4%;
}


.container img{
  border-radius: 5%;
}

#lista-docs{
  padding-left: 20px;
  width: 99%;
}


#resetPassw{
  margin-left: 12%;
}

#resetPassw h1{
  text-align: center;
}