#logo{
  width: 3.5%;
  height: 3.5%;
}

#navbar {
  background: rgba(149, 230, 255, 0.932) !important;
  position: sticky;
}

.nav-link{
  color: black !important;
}

nav a{
  padding: 0 32px;
  transition: 0.4s;
  font-size: 20px;
}

nav li{
  padding-left: 20px;
}

nav a:hover{
background: rgb(24, 226, 125);
}
